body{
    color:white;
}

.app-container {
    display:flex;
}

.notes-nav {
    min-width: 100px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-right: 10px;
}

.notes-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.notes-list-item {
    padding: 10px;
    border-top: 1px solid #000;
}

.note-form {
    width:90%;
    height: 800px;
}
textarea {
    border:0;
    color: white;
    background-color: rgb(47, 47, 47);
    height: 88%;
    width: 100%;
}
form {
    height: 80%;
    display: block
}

#root {
    background-color:rgb(47, 47, 47);
}




