body {
    font-family: 'Playfair Display', serif;
    color:white;
    overflow: hidden;
}

input, textarea {
    font-family: 'Playfair Display', serif;

}

.note-title {
    font-family: 'Playfair Display', serif;
    font-weight:900;
    text-transform: capitalize;

}

.save-note-button, .new-note-button {
    width: 100px;
}

.save-note-button{
    transform: rotate(90deg);
}

 .notes-list h1 {
    font-family:'Playfair Display', serif;
    text-transform: capitalize;
    font-weight:900;
    font-style: italic;
}

.app-container {
    display:flex;
    overflow: hidden;
}

.notes-nav {
    overflow-y: auto;
    min-width: 100px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-right: 10px;

}

.notes-list {
    height: 50em;
    overflow: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.notes-list-item {
    padding: 10px;
    border-top: 1px solid #000;
}

.new-note-form {
    
    width:90%;
    height: 800px;    
}

.title-container input {
    border:0px;
    color: white;
    background-color: rgb(47, 47, 47);    
}

.note-container {
    margin:0;
    width:100%;
    height: 800px;
}

.note-form {
    overflow: hidden;
    width:90%;
    height: 800px;
}
textarea {
    border:0;
    color: white;
    background-color: rgb(47, 47, 47);
    height: 88%;
    width: 100%;
}
form {
    height: 80%;
    display: block
}

#root {
    background-color:rgb(47, 47, 47);
}




