/* HSL 14, 100, 56 */

body {
    font-family: 'Playfair Display', serif;
    color:white;
    overflow: hidden;
}

input, textarea {
    font-family: 'Playfair Display', serif;
    outline: 0;
}

.header {
    margin-top: -40px;
    position:fixed;
    background-color: rgb(47, 47, 47);
    width: 100%;
    
}

.header-nav {
    width: 100%;
}

.header-nav ul {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.note-title {
    font-family: 'Playfair Display', serif;
    font-weight:900;
    text-transform: capitalize;

}

.save-note-button, .new-note-button {
    width: 40px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip2 {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
}

.tooltip2 .tooltiptext2::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    transition-delay: 2s;
    visibility: visible;
}

.tooltip2:hover .tooltiptext2 {
    transition-delay: 2s;
    visibility: visible;
}

 .notes-list h1 {
    font-family:'Playfair Display', serif;
    text-transform: capitalize;
    font-weight:900;
    font-style: italic;
}

.app-container {
    display:flex;
    overflow: hidden;
    margin-top: 40px;
}

.notes-nav {
    overflow-y: auto;
    min-width: 100px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-right: 10px;

}

.notes-list {
    height: 50em;
    overflow: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.notes-list-item {
    padding: 10px;
    border-top: 1px solid #000;
}

.new-note-form {
    
    width:90%;
    height: 800px;    
}

.title-container input {
    border:0px;
    color: white;
    background-color: rgb(47, 47, 47);    
}

.note-container {
    margin:0;
    width:100%;
    height: 800px;
}

.note-form {
    overflow: hidden;
    width:90%;
    height: 800px;
}
textarea {
    border:0;
    color: white;
    background-color: rgb(47, 47, 47);
    height: 88%;
    width: 100%;
}
form {
    height: 80%;
    display: block
}

#root {
    background-color:rgb(47, 47, 47);
}